* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333333;
  background-color: white;
}

header {
  width: 100%;
  height: 80px;
  background-image: url("porto.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

header h1 {
  color: white;
  text-shadow: 2px 2px 4px black;
}

#nav{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#nav ul li {
  margin: 0 10px;
}

#nav ul li a {
  text-decoration: none;
  text-align: center;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  color: #000;
}

#nav ul li a:hover {
  color: #f00;
  text-decoration: bolder;
}

section {
  margin: 20px 30px;
}

section h2 {
  color: red;
  text-align: left;
  padding-bottom: 30px;
}

article {
  display: flex;
  align-items: center;
  margin: 20px auto;
}

article p {
  width: 100%;
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
  text-indent: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

article figure {
  width: 100%;
}

article figure img {
  width: 100%;  
  height: auto;
  float: right;
  margin-left: 20px;
}

article figure figcaption {
  color: #666666;
  font-style: italic;
  text-align: center;
}

footer {
  width: 100%;
  height: 40px;
  text-align: center;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  header, #nav, h1 {
      width: 90%;
  }

  article {
      flex-direction: column;
  }

  article p, article figure {
      width: 60%;
  }

  #nav ul li {
      margin: 10px 0; 
  }
}
