* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333333;
background-color: white;}

section > h2 >{
  text-indent: 30px;
  white-space: nowarp;
}


header {
  width: 100%;
  height: 80px;
  background-image: url("porto.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

header h1 {
  color: white;
  text-shadow: 2px 2px 4px black;
}

/*-- NAVI --*/

main {
  width: 80%;
  margin: 10px auto;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: white;
  padding: 20px;
}

section {
  margin: 20px 30px;
}

section h2 {
  color: red;
  text-align: left;
  padding-bottom: 10px;
  
}

article {
  display: flex;
  align-items: center;
  margin: 20px auto;
}

h3 {
  height: 100px;
  width: 80%;
  text-align:left;

 /* Use margin-right to move h3 to the left */
}

article h3 {
  text-align: center;
  color:  red;
}

article p {
  width: 100%;
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
  text-indent: 30px;
  white-space: nowarp;

  
}

article figure {
  width: 100%;
}

article figure img {
  width: 100%;  
  height: auto;
  float: right; /* Posiciona a imagem à direita */
  margin-left: 20px; /* Remove the "/" at the end of this line */
}

article figure figcaption {
  color: #666666;
  font-style: italic;
  text-align: center;
}

footer {
  width: 100%;
  height: 40px;
  text-align: center;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  main, nav, h1 {
      width: 90%;
  }

  article {
      flex-direction: column;
  }

  article p, article figure {
      width: 100%;
  }
  }
  .logo{
      text-align: center;
  }

  hr {
    margin-top: 20px; /* Espaçamento acima da linha */
    margin-bottom: 20px; /* Espaçamento abaixo da linha 
  }
}
