@charset "UTF-8";

/* Estilos gerais para o corpo da página */
body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para cabeçalho de nível 1 (h1) */
h1 {
    color: #1E6F9E;
    text-align: center;
    font-size: 20px;
}

/* Estilos específicos para h1 com ID 'principal' */
h1#principal {
    background-color: #1E6F9E;
    color: #fff;
}

/* Estilos para cabeçalho de nível 2 (h2) */
h2 {
    color: #5C9028;
    text-align: center;
}

/* Estilos para as classes .basico, .intermediario, .avancado, .destaque */
.basico, .intermediario, .avancado, .destaque {
    background-color: #fff;
    padding: 10px;
}

/* Estilos para a classe .menu */
.menu {
    text-align: center;
}

/* Estilos para links dentro da classe .menu */
.menu a {
    display: inline-block;
    margin: 0 20px;
}

/* Estilos para container de colunas flexíveis */
.column-container {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
}

/* Estilos para a coluna esquerda e direita */
.column-left, .column-right {
    flex: 1;
    max-width: 50%;
}

/* Estilos para a lista ordenada em três colunas */
.three-column-list {
    column-count: 3;
    column-gap: 10px;
    padding: 5px;
    list-style: decimal;
    max-width: 50%;
    margin: 0 auto;
}

.three-column-list li {
    margin: 5px;
    padding: 10px;
    background-color: antiquewhite;
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-container img:hover {
    border: 3px solid blue;
}

/* Estilos para parágrafos (p) */
.p {
    font-size: 16px;
    text-align: center;
    background-color: rgb(250, 238, 238);
    width: 80%;
    margin: 0 auto;
    padding-right: 20px;
}

.corner-image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.image-centralizada {
    display: block;
    margin: 0 auto;
}

.box {
    width: 600px;
    margin: 25px auto;
    padding: 20px;
}

.a {
    justify-content: center;
}
