@charset "UTF-8";

/* Estilos gerais para o corpo da página */
body {
    background-color: #ffffff; /* Cor de fundo */
    font-family: Arial, Helvetica, sans-serif; /* Tipo de fonte */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
  
}

/* Estilos para cabeçalho de nível 1 (h1) */
h1 {
    color: #1E6F9E; /* Cor do texto */
    text-align: center; /* Alinhamento centralizado */
    font-size: 20px; /* Define o tamanho da fonte */
}

/* Estilos específicos para h1 com ID 'principal' */
h1#principal {
    background-color: #1E6F9E; /* Cor de fundo */
    color: white; /* Cor do texto */
}

/* Estilos para cabeçalho de nível 2 (h2) */
h2 {
    color: #5C9028; /* Cor do texto */
    text-align: center; /* Alinhamento centralizado */
}

/* Estilos para as classes .basico, .intermediario, .avancado, .destaque */
.basico, .intermediario, .avancado, .destaque {
    background-color: #FFF; /* Cor de fundo branca */
    padding: 10px; /* Espaçamento interno */
}

/* Estilos para a classe .menu */
.menu {
    text-align: center; /* Alinhamento centralizado */
}

/* Estilos para links dentro da classe .menu */
.menu a {
    display: inline-block; /* Exibe os links em linha */
    margin: 0 20px; /* Margem horizontal entre os links */
}

/* Estilos para container de colunas flexíveis */
.column-container {
    display: flex; /* Exibe os elementos como flexíveis */
    justify-content: space-between; /* Espaço uniformemente distribuído entre as colunas */
    max-width: 50%; /* Largura máxima de 40% */
   
}

/* Estilos para a coluna esquerda */
.column-left {
    flex: 1; /* Cresce para preencher o espaço disponível */
    max-width: 50%; /* Largura máxima de 40% */
    
}

/* Estilos para a coluna direita */
.column-right {
    flex: 1; /* Cresce para preencher o espaço disponível */
    max-width: 50; /* Largura máxima de 58% */
}

/* Estilos para a lista ordenada em três colunas */
.three-column-list {
    column-count: 3; /* Divide a lista em três colunas */
    column-gap: 10px; /* Define a largura da lacuna entre as colunas */
    padding: 5px; /* Adiciona preenchimento à lista ordenada */
    list-style: decimal; /* Estilo padrão de numeração */
    max-width: 50%;
    margin: 0 auto;
}

.three-column-list li {
    margin: 5px; /* Margem entre os itens da lista */
    padding: 10px; /* Espaçamento interno dos itens da lista */
    background-color: antiquewhite;
   
}

/* Estilos para container de fotos */
.photo-container {
    display: flex; /* Exibe os elementos como flexíveis */
}

/* Estilos para as fotos dentro do container */
.photo {
    margin: 5px; /* Margem de 5px ao redor das fotos */
}
.photo-container img:hover {
    border: 3px solid blue; /* Adicione um estilo de borda quando o mouse passa por cima */
}
/* Estilos para parágrafos (p) */
p {
    font-size: 16px;
    text-align: center; /* Alinhamento centralizado */
    background-color: rgb(250, 238, 238); /* Cor de fundo */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
}
.corner-image {
    position: fixed; /* Mantém a div fixa na janela de visualização */
    top: 0; /* Coloca a div no topo */
    left: 0; /* Coloca a div à esquerda */
    z-index: 1000; /* Define a ordem de sobreposição (z-index) para que fique sempre no topo de outros elementos */
  }
  .image-centralizada {
    display: block;
    margin: 0 auto;
}
.box {
    width: 600px;
    margin: 25px auto; /* Define as margens automáticas para centralizar horizontalmente */
    padding: 20px; /* Opcional: Adicionar espaço interno */
  }