@charset "UTF-8";

    h1{
        text-align: center;
    }
    h2{
        text-align: center;
    }
    h3{
        text-align: center;
    }
    p {
        text-indent: 50px;
    }
    .container {
        display: flex;
        justify-content: space-between;
    }

    .coluna {
        flex: 0.5;
        background-color: #f8f9fa; /* Cor de fundo para visualização */
        border: 0px solid black; /* Adicionando borda */
    }

    .coluna2 {
        flex: 3;
        
        background-color: #e9ecef; /* Cor de fundo para visualização */
        border: 0px solid black; /* Adicionando borda */
        padding: 10px; /* Adicionando um pouco de espaço ao redor do texto */

    }
    .coluna img {
        /* Faz a imagem responsiva */
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }

    /* Estilo para telas grandes (desktop) */
    @media (min-width: 768px) {
        .coluna img {
            max-width: 50%;  /* ou qualquer outro valor que você achar adequado */
            
        }
    }
    nav {
        display: flex;
        justify-content: center;
    }

    nav ul {
        list-style-type: none;
        padding: 20px;
    }

    nav ul li {
        display: inline;
        margin-right: 15px;
    }
    .parallax {
        /* Coloque a imagem a ser usada como background */
        background-image: url("caminho/para/sua/imagem.jpg");
        /* Defina uma altura para a visão que o usuário terá da imagem */
        min-height: 350px;
        /* defina o background como fixo e posicione a imagem */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }